@using WebApplication.Web.Models.Account;
@model User
@{
    ViewData["Title"] = "AssignStudent";
    List<User> students = TempData["students"] as List<User>;
    List<User> teachers = TempData["teachers"] as List<User>;
}

<h2>Assign Student to Teacher</h2>
<div class="form-group">
    <label>Teacher Look Up</label>
    <select asp-for="Id" name="teacher">
        @foreach (var teacher in teachers)
        {
            <option>@teacher.Id @teacher.Username</option>

        }
    </select>
</div>

<div class="form-group">
    <label>Student Look Up</label>
    <select asp-for="Id" name="student">
        @foreach (var student in students)
        {
            <option>@student.Id @student.Username</option>

        }
    </select>
</div>




<h3>Assign</h3>

<form asp-controller="account" asp-action="AssignStudentToTeacher" method="get">
    <div class="form-group">
        <label>Teacher</label>
        <select asp-for="Id" name="teacherId">
            @foreach (var teacher in teachers)
            {
                <option>@teacher.Id</option>

            }
        </select>
    </div>

    <div class="form-group">
        <label>Student</label>
        <select asp-for="Id" name="studentId">
            @foreach (var student in students)
            {
                <option>@student.Id</option>
            }
        </select>
    </div>
    <input type="submit" value="Assign Student" class="btn btn-default" />
</form>






