@using WebApplication.Web.Models.Scenario;
@model Scenario
@{
    ViewData["Title"] = "AssignScenario";
    List<User> students = TempData["students"] as List<User>;
    List<Scenario> scenarios = TempData["scenarios"] as List<Scenario>;
}

<div class="body-styling">
    <h2 class="maintitle">Assign Scenarios To Students</h2>
    <div class="form-group">
        <label> Scenario Look up </label>
        <select asp-for="Id" name="scenarioId">
            @foreach (var scenario in scenarios)
            {
                if (scenario.IsActive == true)
                {
                    <option>@scenario.Id @scenario.Name</option>
                }

            }
        </select>
    </div>

    <div class="form-group">
        <label> Student Look up </label>
        <select asp-for="Id" name="studentId">
            @foreach (var student in students)
            {
                <option>@student.Id @student.Username</option>
            }
        </select>
    </div>

    <h3> Assign Scenario</h3>

    <form asp-controller="scenario" asp-action="AssignScenarioToStudent" method="get">
        <div class="form-group">
            <label>Student</label>
            <select asp-for="Id" name="studentId">
                @foreach (var student in students)
                {
                    <option> @student.Id </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Scenario</label>
            <select asp-for="Id" name="scenarioId">
                @foreach (var scenario in scenarios)
                {
                    if (scenario.IsActive == true)
                    {
                        <option>@scenario.Id @scenario.Name</option>
                    }
                }
            </select>
        </div>
        <input type="submit" value="Assign Scenario" class="btn btn-default" />
    </form>

    <h3> Unassign Scenario</h3>

    <form asp-controller="scenario" asp-action="UnassignScenario" method="get">
        <div class="form-group">
            <label>Student</label>
            <select asp-for="Id" name="studentId">
                @foreach (var student in students)
                {
                    <option> @student.Id </option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Scenario</label>
            <select asp-for="Id" name="scenarioId">
                @foreach (var scenario in scenarios)
                {
                    <option> @scenario.Id </option>
                }
            </select>
        </div>
        <input type="submit" value="Unassign Scenario" class="btn btn-default" />
    </form>
</div>
