@model WebApplication.Web.Models.Scenario.Answer

@{
    ViewData["Title"] = "Response";
}

<div class="flex-container">
    <div class="response">
        <dl id="response-text">
            <dd>
                You answered:
            </dd>
            <dd id="student-answer" class=response-@Model.Color>
                @Html.DisplayFor(model => model.AnswerText)
            </dd>
            <br />
            <dd>
                <img id="emoji" src="@Model.Emoji">
            </dd>
            <dd class=response-@Model.Color>
                @Html.DisplayFor(model => model.ResponseText)
            </dd>
        </dl>
    </div>
    <div>
        <img src=@Model.ResponseImage id="response-image">
    </div>
</div>
<nav class="response-nav">
    <a asp-action="NextScenario" asp-route-id="@Model.ScenarioId">Next Scene</a><br>
    <a asp-action="PreviousScenario" asp-route-id="@Model.ScenarioId">Try Scene Again</a>
</nav>
