@model WebApplication.Web.Models.Scenario.Scenario

@{
    ViewData["Title"] = "Scenario";
}

<h2>Scenario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dd>
            <img src=~/images/@Model.ImageName style="height:350px; width:500px;">
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dd>
            @foreach (var item in Model.AnswerList)
            {
                <a id="go-to-response" asp-action="Response" asp-route-id="@item.AnswerId">@item.AnswerText</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
