@model IEnumerable<WebApplication.Web.Models.Scenario.Scenario>

@{
    ViewData["Title"] = "UpdateScenarios";
}

<h2>UpdateScenarios</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Scenario Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    Active?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img style="width:40%" src="@item.ImageName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Scenario", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
